---
layout: splash
author_profile: true
read_time: true
comments: true
share: true
related: true
excerpt: "Changing is believing. <br/> \n 改变即相信"
header:
image:
overlay_image: http://website-1254359163.cossh.myqcloud.com/pptImage001.jpeg
overlay_filter: rgba(0, 0, 0, 0.1)
caption: "图像版权属于 [**Viiwill**](http://viiwill.cn)"
cta_label: "更多"
cta_url: "/news-archive/"
feature_row:
- image_path: http://website-1254359163.cossh.myqcloud.com/index_feature_content.jpeg
alt: "Content"
title: "内容"
excerpt: "高品质原创VR影视内容生产。\n 现有影视IP内容VR化制作。"
url: "/"
btn_label: "更多"
- image_path: http://website-1254359163.cossh.myqcloud.com/index_feature_market.jpg
alt: "Marketing"
title: "新营销"
excerpt: "新时代营销打破了传统的互联网电商模式，可支持多个本地或异地的消费者同时进入大型的虚拟购物空间，实现异地之间的通讯连接，让人们无论身处何地皆可共处一室。"
url: "/"
btn_label: "更多"
- image_path: http://website-1254359163.cossh.myqcloud.com/index_feature_edu.jpg
alt: "Education"
title: "教育"
excerpt: "VR技术和商业IP面向社会培训课程。与行业内技术分支产业展开紧密的合作交流，形成产业闭环。"
url: "/"
btn_label: "更多"
intro:
- excerpt: '商业洽谈 &nbsp; [<i class="fa fa-twitter"></i> 联系我们](/contact-us/){: .btn .btn--info}'
---

{% include base_path %}

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
